.itens {
    font-style: italic;
}

.benefícios {
    background: #aaaca4;
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.título-centralizado {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
}

.imagem {
    width: 50%;
}