.itens {
    font-style: italic;
}

.benefícios {
    background: #aaaca4;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
}

.imagem {
    width: 50%;
}